{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">Create a New Post</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <input type="text" class="form-control" id="content" name="content">
                </div>
                <div class="mb-3">
                    <label for="sns_image" class="form-label">Upload Image:</label>
                    <input type="file" class="form-control" id="sns_image" name="sns_image">
                </div>
                <input type="hidden" name="author" value="{{ user.username }}">
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning mt-4" role="alert">
        <p class="mb-0">Please log in to create a post.</p>
    </div>
    <a href="{% url 'login' %}" class="btn btn-primary mt-2">Login</a>
    {% endif %}
</div>
{% endblock content %}
